openai
selenium
pillow
gradio
huggingface-hub==0.24.3
httpx
gradio-client
fastapi
uvicorn
gradio_logsview@https://huggingface.co/spaces/Wauplin/gradio_logsview/resolve/main/gradio_logsview-0.0.5-py3-none-any.whl
